main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main > h1 {
  margin-bottom: 0;
  align-self: center;
}

main > i {
  align-self: center;
}

.user-section {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  border-radius: 1rem;
  background-color: var(--dark-grey-background);
}

.user-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.5rem;
}

.user-detail {
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap;
}

.user-section > button {
  margin-bottom: 0.75rem;
}

.user-bookings {
  margin: 1rem auto;
  width: 100%;
  max-width: 780px;
  background-color: var(--dark-grey-background);
  border-radius: 1rem;
}

.user-bookings > ul {
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (min-width: 780px) {
  .user-bookings > ul {
    width: 95%;
    margin: 1rem auto;
  }
}
