.admin-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem auto;
  width: 100%;
  max-width: 780px;
  background-color: var(--special-color);
  border-radius: 1rem;
  padding: 1rem;
  max-width: 780px;
}

.admin-section > h2 {
  margin: 0;
}

.admin-section > div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.admin-section .update-button {
  min-height: fit-content;
  padding: 2px;
  line-height: 1rem;
}

@media only screen and (max-width: 780px) {
  .admin-section > div {
    flex-direction: column;
  }

  .admin-section .update-button {
    width: 15rem;
    max-width: 100%;
    align-self: center;
  }
}
