.admin-event-card {
  display: flex;
  width: 98%;
  align-items: center;
  margin-bottom: auto auto 0.5rem auto;
  border: 1px solid var(--text-color);
  border-radius: 1rem;
  background-color: var(--special-color);
}

.admin-event-card-buttons {
  width: 6rem;
  padding: 0;
  margin: 0;
}

.admin-event-card-details {
  margin: -1px 2px -1px -1px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  background-color: var(--background-primary);
  border-radius: 1rem;
  border: 1px solid var(--text-color);
  text-align: center;
}

.admin-event-card-details > b {
  width: 35%;
}
.admin-event-card-details > i {
  width: 40%;
}

.admin-event-card-details > p {
  width: 25%;
}
