.menu-button {
  width: 5rem;
  background-color: var(--button-std);
  color: var(--text-color);
  font-weight: 600;
  border-radius: 0.5rem;
  min-height: 2rem;
  padding: 0.5rem;
}

.book-button {
  width: fit-content;
  padding: 1rem;
  color: var(--text-color);
  font-size: large;
  font-weight: 600;
  border-radius: 1rem;
  margin: 1rem;
}

.book-event {
  background-color: var(--button-std);
  color: var(--text-color);
  font-size: large;
  font-weight: 600;
  border-radius: 1rem;
  margin: 1rem;
  margin: 0;
  width: 5rem;
}
.book-event-page {
  width: fit-content;
  text-align: center;
  background-color: var(--special-color);
  height: 3rem;
  border-radius: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text-color);
  margin: 1rem;
  padding: 5px;
}

.book-event-page:hover {
  border: 1px solid var(--button-std);
  color: var(--button-std);
}

button:hover {
  border: 1px solid var(--special-color);
  color: var(--special-color);
  cursor: pointer;
}

.update-button {
  background-color: blue;
  color: var(--text-color);
  font-weight: 600;
  font-size: 1.25rem;
  padding: 0.25rem;
  border-radius: 0.5rem;
  height: fit-content;
}

.cancel-button {
  background-color: red;
  color: var(--text-color);
  font-weight: 600;
  font-size: 1.25rem;
  padding: 0.25rem;
  border-radius: 0.5rem;
  height: fit-content;
}

@media only screen and (min-width: 780px) {
  .menu-button {
    height: 3rem;
    font-size: 1rem;
  }
}
