.menu-button {
  width: 5rem;
  background-color: var(--button-std);
  color: var(--text-color);
  font-weight: 600;
  border-radius: 0.5rem;
  min-height: 2rem;
  padding: 0.5rem;
}

.book-button {
  width: fit-content;
  padding: 1rem;
  color: var(--text-color);
  font-size: large;
  font-weight: 600;
  border-radius: 1rem;
  margin: 1rem;
}

.book-event {
  background-color: var(--button-std);
  color: var(--text-color);
  font-size: large;
  font-weight: 600;
  border-radius: 1rem;
  margin: 1rem;
  margin: 0;
  width: 5rem;
}

button:hover {
  border: 1px solid var(--special-color);
  color: var(--special-color);
  cursor: pointer;
}

@media only screen and (min-width: 780px) {
  .menu-button {
    height: 3rem;
    font-size: 1rem;
  }
}
