.event-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem;
  border: 2px solid var(--text-color);
  margin-top: 1rem;
  border-radius: 0.5rem;
}

.event-card > img {
  height: 5rem;
  width: fit-content;
}

.details {
  display: flex;
  align-items: center;
  margin-left: 0.5rem;
}

.info h2 {
  margin: 0;
}

.info h3 {
  margin: 0;
}

.info h4 {
  margin: 0;
}

@media only screen and (min-width: 780px) {
  .event-card {
    flex-direction: column;
    width: 30%;
  }

  .event-card > img {
    width: 90%;
    height: 10rem;
    object-fit: cover;
  }

  .details {
    flex-direction: column;
    text-align: center;
    gap: 0.25rem;
  }
}
