.edit-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
  z-index: 90;
}

.edit-form input {
  width: 25rem;
}

.date-input {
  text-align: center;
  max-width: 90%;
}

.edit-form textarea {
  width: 25rem;
  height: 3rem;
  font-size: 1rem;
  background-color: var(--accent-color);
  color: var(--text-color);
  max-width: 90%;
}

.edit-form textarea:placeholder-shown {
  font-style: italic;
  font-weight: 400;
  color: var(--button-std);
}

.edit-form > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 80%;

  input {
    max-width: 90%;
  }
}

.event-editor-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cancel-button {
  height: 3rem;
}

@media only screen and (min-width: 780px) {
  .date-input {
    width: 17rem;
  }
  .edit-form > div {
    flex-direction: row;

    input {
      min-width: 17rem;
      max-width: 17rem;
    }
  }

  .edit-form textarea {
    min-width: 17rem;
    max-width: 17rem;
  }
}
