.event-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0.5rem;
}

@media only screen and (min-width: 780px) {
  .event-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    max-width: 1080px;
  }
}
