header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  background-color: var(--accent-color);
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  background-color: var(--accent-color);
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

footer a {
  color: var(--button-std);
  text-decoration: none;
  font-weight: 600;
}

header img {
  max-height: 4.5rem;
  width: 4rem;
}

footer img {
  max-height: 3rem;
  width: 3rem;
}

header p {
  font-size: 1rem;
  text-align: center;
  font-weight: bold;
}

.menu-bar {
  list-style: none;
  display: none;
  padding: 0;
}

.menu-bar li {
  margin: 0.25rem;
}
#hamburger {
  display: block;
  max-height: 2rem;
  max-width: 2rem;
}

.show {
  display: block;
  position: absolute;
  transform: translate(0);
  right: 1rem;
  top: 4rem;
  background-color: var(--special-color);
  padding: 0;
  border-radius: 0.5rem;
}

@media only screen and (max-width: 780px) {
  #hamburger {
    display: block;
  }
}

@media only screen and (min-width: 780px) {
  .menu-bar {
    display: flex;
  }

  #hamburger {
    display: none;
  }
}
