.hero-section {
  background-color: var(--special-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 20rem;
  gap: 0.5;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  border-top: 1 solid var(--special-color);
  border-bottom: 1 solid var(--special-color);
  padding-top: 1px;
  padding-bottom: 1px;
}

.text-content {
  display: flex;
  flex-direction: column;
}

.hero-section img {
  width: 100%;
  height: 20rem;
  margin: 0;
  object-fit: cover;
}

.title {
  margin-top: -20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  gap: 0;
  flex: 1;
}

.title h2 {
  font-size: 2rem;
  background-color: var(--text-backround-color);
  text-align: center;
  margin: 0;
}

.title h3 {
  font-size: 1.5rem;
  background-color: var(--text-backround-color);
  text-align: center;
  margin: 0;
}

.title h4 {
  background-color: var(--text-backround-color);
  text-align: center;
  margin: 0;
}

.text-content p {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.25em;
  max-height: 2.5em;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: var(--text-backround-color);
  text-align: center;
  font-weight: 600;
}

.book-button {
  display: none;
  background-color: var(--button-std);
}

@media only screen and (min-width: 780px) {
  .hero-section {
    flex-direction: row;
    margin: 1rem;
    border: 0;
    padding: 0.5rem;
    width: 95%;
    max-width: 900px;
  }

  .book-button {
    display: inline;
    align-self: center;
  }

  .text-content {
    width: 50%;
  }

  .hero-section > img {
    width: 50%;
    height: 19rem;
    max-height: 20rem;
    margin: 0;
    object-fit: cover;
  }

  .title {
    margin: 0;
  }

  .title h2 {
    background-color: transparent;
  }

  .title h3 {
    background-color: transparent;
  }

  .title h4 {
    background-color: transparent;
  }

  .text-content p {
    background-color: transparent;
  }
}

@media only screen and (min-width: 1080px) {
  .text-content p {
    -webkit-line-clamp: 3;
    max-height: 3.75em;
  }
}
