.home-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.welcome h1 {
  height: 3rem;
  margin: 0;
}

.welcome img {
  max-height: 5rem;
  background-color: var(--text-color);
  padding: 0.5rem;
  border: 2px solid var(--special-color);
  border-radius: 1rem 2.5rem 1rem 2.5rem;
}

.home-main h2 {
  margin: 0;
}
