.modal {
  position: fixed;
  width: 80%;
  left: 10%;
  right: auto;
  border: 2px solid var(--text-color);
  border-radius: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--special-color);
}

.hidden {
  display: none;
}

.modal .cancel-button {
  min-height: 2rem;
  padding: 0.5rem;
}
