.modal {
  position: fixed;
  width: 80%;
  left: 10%;
  right: auto;
  border: 2px solid var(--text-color);
  border-radius: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--special-color);
  max-height: 90vh;
}

.hidden {
  display: none;
}

.modal .cancel-button {
  min-height: 2rem;
  padding: 0.5rem;
}

.scrollable {
  overflow-x: scroll;
  background-color: var(--dark-grey-background);
  width: 98%;
  border-radius: 1rem;
  border: 1px solid var(--text-color);
  padding: 0.5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0;
}
