.toast {
  position: fixed;
  top: 20%;
  left: 25%;
  width: 50%;
  right: auto;
  border: 2px solid var(--text-color);
  border-radius: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 100;
}

.toast-title {
  margin: 0;
  padding: 0.5rem 0;
  width: 100%;
  border-bottom: 1px solid var(--text-color);
  font-weight: 900;
}

.toast-text {
  font-size: 1.25rem;
  white-space: pre-line;
}

.menu-button {
  align-self: flex-end;
  margin: 0 0.5rem 0.5rem 0;
}

.hidden {
  display: none;
}
