.user-selector ul {
  margin: 1rem 0;
  align-items: center;
  padding: 0;
}

.user-item {
  list-style-type: none;
  background-color: var(--accent-color);
  padding: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  margin: 0.25rem;
  display: flex;
  justify-content: space-between;
  width: 95%;
}

.user-item-username {
  font-weight: 800;
}
