:root {
  --text-color: hsl(0, 0%, 90%);
  --background-primary: hsl(0, 0%, 10%);
  --accent-color: hsl(192, 70%, 43%);
  --text-backround-color: hsla(200, 94%, 14%, 0.5);
  --special-color: rgb(255, 106, 0);
  --placeholder-color: hsl(0, 0%, 15%);
  --dark-grey-background: hsl(0, 0%, 20%);
  --button-std: hsl(200, 94%, 14%);
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;

  color: var(--text-color);
}

body {
  margin: 0;
  background-color: var(--background-primary);
}
